<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DAL.Properties.Settings.DBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\AProjects\SpecifiqueServer\SpecifiqueSimulationServer\SpecifiqueSimulationServer\local_db\DB.mdf&quot;;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.DBConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.DBConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\AProjects\SpecifiqueServer\SpecifiqueSimulationServer\SpecifiqueSimulationServer\local_db\DB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.DBConnectionString3" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\AProjects\SpecifiqueServer\SpecifiqueSimulationServer\SpecifiqueSimulationServer\local_db\DB.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.DatabaseConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\AProjects\SpecifiqueServer\SpecifiqueSimulationServer\SpecifiqueSimulationServer\local_db\Database.sdf;Integrated Security=True;User Instance=True" />
    <add name="DAL.Properties.Settings.DBConnectionString4" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\AProjects\SpecifiqueServer\SpecifiqueSimulationServer\SpecifiqueSimulationServer\DB.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.DBConnectionString5" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\AProjects\SpecifiqueServer\SpecifiqueSimulationServer\SpecifiqueSimulationServer\DB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.DBConnectionString6" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\AProjects\SpecifiqueServer\SpecifiqueSimulationServer\SpecifiqueSimulationServer\DB.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>